.container-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
}
.banner-about img {
    filter: brightness(0.6);
}