.container-collapse-apartment {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}
.collapse-apartment {
    width: 45%;
}
.apartment-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}