.container-collapse-apartment {
    display: flex;
    gap: 30px;
    margin: 20px;
}

.apartment-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}