.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    height: 223px;
    border-radius: 25px;
    background-image: url(../assets/Image_source_1.png);
    background-position: center;
}