@import '../styles/variables.scss';

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-Color;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.4); /* Applique une opacité plus sombre à l'image */
    }

    h1 {
        position: relative;
        z-index: 1; /* Assure que le titre se superpose sur l'image */
        font-size: 50px;
        text-align: center;
    }
}