.container-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 25px;
}

.collapse {
    width: 70%;
    background-color: #FF6060; /* Ajoutez un fond pour mieux voir les éléments */
    padding: 10px;
    border-radius: 5px;
}

.collapse-title {
    display: flex;
    justify-content: space-between; /* Aligne les éléments aux extrémités */
    align-items: center; /* Centre verticalement le titre et l'image */
    color: white; /* Définit la couleur du texte et de l'image en blanc */
}

h2 {
    margin: 0; /* Enlève la marge par défaut du h2 */
    font-size: 18px; /* Taille de la police du titre */
}

.arrow {
    width: 20px; /* Ajustez la taille de l'image */
    cursor: pointer;
    transition: transform 0.3s ease;
    &.rotate {
        transform: rotate(180deg);
    }
}

.toggle-content {
    background-color: #F0F0F0;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #333; /* Assurez-vous que le contenu est également blanc */
    margin-top: 10px; /* Un petit espace entre le titre et le contenu */
    transition: max-height 0.3s ease-in-out;
    &.open{
        max-height: 500px;
    }
}
