.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    margin-top: 30px;
    color: white;
}

.footer-content {
    display: flex;
    flex-direction: column;

}