@import '../styles/variables.scss';

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-Color;
    height: 200px;
    color: $white-Color;
    .footer-content {
        text-align: center;
        flex-direction: column;
    
    }
}

@media screen and (max-width: 768px) {
    .footer-content p {
        width: 140px;
    }
    
    
    
}