.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    color: white;
    .footer-content {
        text-align: center;
        flex-direction: column;
    
    }
}

