@import '../styles/variables.scss';

.gallery-container {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    background-color: #f0f0f0;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    @media screen and (max-width: 768px) {
        padding: 0;
        background-color: $white-Color;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px;
        list-style: none;
        padding: 0;
        margin: 0 auto;

        .apartment-card {
            width: calc(33.33% - 30px); // Assure que les cartes ne dépassent pas les 1/3 de la largeur
            aspect-ratio: 1 /1;
            position: relative;
            background-color: $white-Color;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            @media screen and (max-width: 768px) {
                width: 100%;
                aspect-ratio: auto;
            }
                
            

            .apartment-link {
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit; // Conserve la couleur du texte
                position: relative; // Pour permettre le positionnement absolu du titre

                .image-card {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    border-radius: 8px;
                }

                .card-gradient {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 30%);
                }

                .appartment-title {
                    width: 50%;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    color: $white-Color;
                    margin: 0;
                    padding: 10px;
                    font-size: 1rem;
                    border-radius: 0 0 8px 8px;
                }
            }
        }
    }
}