.gallery-container {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    background-color: #f0f0f0;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
}

.gallery {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    list-style: none;
    padding: 0;
    margin: 0 auto;

}

.apartment-card {
    width: 370px;
    height: 370px;
    position: relative; /* Nécessaire pour positionner le titre par rapport à la carte */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Pour que le contenu qui dépasse soit masqué */
}


.image-card {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px 
}

.apartment-card a {
    text-decoration: none;
    position: absolute;
    bottom: 10px; /* Place le titre en bas */
    width: 50%;
    color: white; /* Couleur du texte */
    margin: 0; /* Supprime les marges par défaut */
    padding: 10px; /* Espacement interne du titre */
    font-size: 1rem; /* Taille de police du titre */
    border-radius: 0 0 8px 8px; /* Coins arrondis en bas */
}
.card-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.5), transparent 30%);
}
