.gallery-container {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    background-color: #f0f0f0;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
}

.gallery {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.apartment-card {
    width: 370px;
    height: 370px;
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.apartment-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit; /* Conserve la couleur du texte */
    position: relative; /* Pour permettre le positionnement absolu du titre */
}

.image-card {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

.card-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 30%);
}

.appartment-title {
    width: 50%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 0 0 8px 8px;
}

