@import '../styles/variables.scss';

.header{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    .navbar-logo img {
        width: 180px;
        height: auto;
        @media screen and (max-width: 768px) {
            width: 250px;
        }
    
    }
    .navbar-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        font-size: 16px;
        gap: 30px;
        & a {
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            color: $black-Color;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                text-decoration: underline;
                color: $black-Color;
            }
        }
    }
    
}
