.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-component {
    width: 70%;
    border-radius: 5px;
    background-color: #FF6060;
    margin-bottom: 10px;
    overflow: hidden;
}

.toggle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #FF6060;
    cursor: pointer;
}

.toggle-header h2 {
    margin: 0;
    color: white;
    font-size: 1.2rem;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.rotate {
    transform: rotate(90deg);
}

.toggle-content {
    padding: 10px 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
